
.Footer-container {
    /* background: linear-gradient(to right, #00093c, #2d0b00); */
    background-image: url('../Image/Footer.jpg');
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center top;
    background-clip: padding-box;
    line-height: initial;


    /* width: 80rem;
    height: 33rem; */
}


/* .footer-row { 
     text-align: start; 
 } */

.img-style {
    width: 49%;
    display: inline;

}

.img-heart {
    width: 2%;
}

.sb_footer-links {
    color: white;
    text-align: left;
}
.sb_footer-links-div{
    text-align:start;
}

.links {
    text-decoration: none !important;
    color: white;
    /* text-align: end; */
}

.icons {

    width: 25px;
    height: 25px;
    border-radius: 20%;
    /* text-align: center; */
    line-height: 20px;
    font-size: 20px;
    /* color: #491414; */
    /* background: #120f0f; */
    margin-right: 15px;
    cursor: pointer;
    /* color: rgb(143, 30, 30); */


}

.newsletterHeading {
    text-align: end;
}

.underline {
    width: 50%;
    height: 10%;
    background: #767676;
    border-radius: 3px;
    position: relative;
    bottom: 1px;
    left: 0;
    overflow: hidden;
}

/* .underline-ser{
    width: 50%;
    height: 10%;
    background: #767676;
    border-radius: 3px;
    position: relative;
    bottom: 1px; 
    left: 0;
    overflow: hidden;
} */
.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;

}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .footer-row {
        text-align: left !important;
    }

    .newsletterHeading {
        text-align: center;
    }
}

.newsletter {
    background-image: url('../Image/Newsletter.png');
    background-position: center;
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-color: transparent;
    border-radius: 20px;
    box-shadow: none;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 70%;
    justify-content: center;
    width: 70%; */
    /* background-color: transparent; */
    /* border: none;
  box-shadow: none; */
    /* color: white; */

}

.input-group input,
.input-group :focus {
    background-color: transparent;
    color: #fff;
    

}
.links {
    display: inline-block;
    color: #fff;
    text-decoration: none;
  
}
li{
    list-style-type: none;
    
}
ul{
    padding-left:0%;
   
}

.links::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    transition: width .3s;
    margin-top: -8px;
}
.links:hover::after {
    width: 100%;
    
}

input[type="text"] {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
   
   
}



/* --serivces-- */








.Box {
    border-radius: 7%;
}

.services {
    background-image: radial-gradient(rgb(88, 19, 19), rgb(20, 21, 20), rgb(108, 14, 14));
    border-radius: 25px ;    

}

.testimonials {
    background-image: url('../Image/Card.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 9%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-align: justify;

}
