.Footer-container {
    /* background: linear-gradient(to right, #00093c, #2d0b00); */
    background-image: url('../Image/footer.png');
    background-size: cover;
    /* background-position: center top; */
    /* background-clip: padding-box; */
    /* line-height: initial; */
  background-position: center;
}


.img-style {
    width: 49%;
    display: inline;

}

.img-heart {
    width: 2.5%;
   
}

/* .sb_footer-links {
    color: white;
    text-align:start 
   
} */

.sb_footer-links-div {
    text-align: start;
}

.links {
    text-decoration: none !important;
    color: white;
    
}

.icon {

    position: relative;
    bottom: 0rem;
    width: 18rem;
    left: 10rem;
}
.icons{
    width: 18rem;
}
.newsletterHeading {
    text-align: end;
}
/* .news{
    margin-top: -4%;
    margin-left: -40%;
} */
/* .letter{
    margin-left: -22%;
} */


@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* .footer-row {
        text-align: left !important;
    } */

    .newsletterHeading {
        text-align: center;
    }
}

.newsletter {
    background-image: url('../Image/Newsletter.png');
    background-position: center;
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-color: transparent;
    border-radius: 20px;
    box-shadow: none;
    height: 4rem;

}
.newsletterr {
    background-image: url('../Image/Newsletter.png');
    background-position: center;
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-color: transparent;
    border-radius: 20px;
    box-shadow: none;
}

.input-group input,
.input-group :focus {

    background-color: transparent;
    color: #fff;

}
.form-control::placeholder{
color:rgba(236,236,244,0.485);
}


.links {
    display: inline-block;
    color: #fff;
    text-decoration: none;

}

li {
    list-style-type: none;

}

ul {
    padding-left: 0%;

}

.links::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    transition: width .3s;
    margin-top: 0px;
}

.links:hover::after {
    width: 100%;

}

input[type="text"] {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;


}

@media only screen and (max-width: 576px) {
   
    .links{
        font-size: xx-small;
    }
    .contact{
        display: none;
    }
}
 /* .previous{
    width: inherit;
    left: -4rem;
} */
/* .next{
    width: inherit;
    
}  */


/* --serivces-- */








.Box {
    border-radius: 7%;
}

.services {
    background-image: radial-gradient(rgb(88, 19, 19), rgb(20, 21, 20), rgb(108, 14, 14));
    border-radius: 25px;

}

.testimonials {
    background-image: url('../Image/Card.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 90%;
    border-radius: 9%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-align: justify;

}