/* body{
  background-color: rgb(20, 20, 20);
  
  
} */
.img-fluid:hover{
  transform: scale(1.07);
}
.App {
  /* text-align: center; */
  color: white;
  /* background-image: radial-gradient(rgb(45,24,24),rgb(20,21,20),rgb(20,20,21)); */
  background-image: radial-gradient(rgb(20,21,20),rgb(26, 2, 2),rgb(20,21,20));
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
font-family: po;
  color: white;
}
.img-Group{
  width: 80%;
}
.img-Growth{
  text-align: center;
  width: 80%;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
